* {
    margin: 0;
    padding: 0;
    outline: 0;
}
body {
    background-color: #03f4fc;
}
.wrapper {
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.statistic {
    width: 100%;
}
.total_case_box {
    background-color: #fafafa;
    box-shadow: 2px 2px 8px rgba(30,30,30, 0.2);
    margin: 10px 15px;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
}
.total_case_box p {
    font-size: 3rem;
}

.wrapper .box_wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.box_wrapper .box {
    background-color: #fafafa;
    box-shadow: 2px 2px 8px rgba(30,30, 30, 0.20);
    margin: 10px 15px;
    width: 25%;
    text-align: center;
    padding: 15px 0;
    border-radius: 8px;
    text-transform: uppercase;
}

.box_wrapper .box p {
    font-size: 2.5rem;
}

table {
    width: 100%;
    padding: 15px 10px;
    margin: 10px 0;
    text-align: center;
    border-spacing: 0;
}

tr:first-child {
    background-color: #37474f;
    color: #fafafa;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 1;
}

th {
    padding: 15px 0;
    border: none;
    border-spacing: 0;
    cursor: crosshair;
}

th:not(:first-child){
    cursor: n-resize;
}

th:nth-child(odd){
    background-color: #424242;
    color: #fafafa;
}

tr td {
    padding: 15px 0;
}

tr td:first-of-type {
    position: relative;
}
tr td:first-of-type::before {
    counter-increment: raw;
    content: counter(raw);
    position: absolute;
    left: 4px;
    opacity: 0.5;
}
grid--bg, leader-0, trailer-0, padding-leader-2, padding-trailer-2, text-center {
border: 0;
width: 1000px; 
max-width: 95vw; 
height: 64.60000000000001vw; 
max-height: 675px; 
min-height: px;
}
grid--bg leader-0 trailer-0 padding-leader-2 padding-trailer-2 text-center{
background:  url(/content/esri-sites/en-us/disaster-response/disasters/wildfires/_jcr_content/par/grid_container_copy.img.jpg/1598051033564.jpg) no-repeat; 
    background-size: cover;
}